* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

body {
    text-align: center;
    padding: 10%;
}

button {
    margin: 20px 0;
    padding: 20px 40px;
}

p {
    font-size: 500%;
}