* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 2% auto;
}

input {
    display: block;
    width: 100%;
}