* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body,
button {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #444;
}

#buttonContainer {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  gap: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}

button {
  flex: 1;
  width: calc(100%/3);
  padding: 20px 0;
  transition: 0.5s;
  border-radius: 6px;
  border: 0;
}

button:hover {
  background-color: rgb(201, 190, 255);
}

p {
  text-align: center;
  margin: 50px 0;
}