.box {
    width: 200px;
    height: 100px;
    border: 10px solid black;
    margin: 2% auto 2% auto;
    padding: 2%;
    background-color: red;


}

.two,
nav {
    box-sizing: border-box;
}

nav {
    padding: 2em;
    background-color: green;
}

a {
    padding: 25px 0;
    background-color: gray;
}

/* use a universal selector to set a default,
    part of reset.css or normalize.css */
/*
* {
  box-sizing: border-box;
}
*/

.nest-outer {
    background-color: gray;
}

.nest-middle {
    background-color: yellow;
}

.nest-inner {
    background-color: violet;
}

.nest-outer,
.nest-middle,
.nest-inner {
    padding: 30px;
}

footer a {
    display: inline-block;
    text-align: center;
    width: calc(100%/3);
}