  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .intro-text {
      /* center heading */
      margin-inline: auto;
      max-width: fit-content;
  }

  .container {
      display: flex;
      flex-wrap: wrap;
      background: #eee;
  }

  /* img { */
  /* display: block; */
  /* max-width: 100%; */
  /* } */

  .box {
      border: 2px solid goldenrod;
      border-radius: 1rem;
  }

  .hero {
      width: 100vw;
      height: 100vh;
  }

  /* ⛳️ Add flex-wrap: wrap to your .container and watch as your boxs dynamically take up the space available to them! You’ll have to give your boxs a width or max-width property otherwise they’ll take up the full width of the page and won’t be able to wrap!

This should now have made your page match pretty closely to the wireframe! You may need to play around with adding gap to the flex container, and some padding here or there, but the page behaves as expected! */

/* 🎉 Congratulations! You are now a very responsible developer!

Read on for some further challenges…
🎯 Mini Challenge: Extra responsibility

Add a wider variety of content to your page and have a practice with some of the properties we looked at!

    Try to create a ‘hero’ section with 100vh and 100vw.

    Create a responsive grid which utilises the grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); prooperty (and change the value within the minmax() property to what you want).

    Play around with applying object-fit: cover on your images to see how it affects their display.

    Create a @media query which affects some content on your page.

💭 Help

    Google, as always, is your friend!

    It’s impossible to remember every single aspect of responsive design as it changes so often, but it would be good to practice each of these elements one-by-one so that you get more comfortable with them. (Going through the resources in this session would be a great start!)

🎯 Mini Challenge: Media Queries

Add a media query with the @media keyword, and by specifying the min-width: 800px property. These CSS rules will be applied whenever the screen is at least 800px wide, or over.

💭 You can also use min-height, max-width and max-height, although we try to avoid the latter and use a small-screen first approach.

⛳️ This media query will unlock the final piece of the Wireframe puzzle, by altering the justify-content property depending on if the screen is narrow or wide!
💭 Help

Have a go at writing a media query which works. However, seeing as we’ve only just introduced the topic, here is some code to compare yours to:
Open me to compare what you've written:

</br>

👀 Confirm that the justification of the text in the header changes when you resize the browser window above and below 800px.

💭 Checkout the link on ‘New CSS Syntax for Range Media Queries’ above - we can use comparison operators now. You will still most commonly see the ‘min-width’ syntax, as the range sytax does not work on all browsers. */