  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      line-height: 1;
  }

  body {
      padding: 20px 0;
  }

  header,
  .container {
      display: flex;
  }

  header {
      border: 2px solid lime;
      border-radius: 2rem;
      align-items: center;
      justify-content: center;
      margin: 2em;
  }

  header,
  .box {
      padding: 1em;
  }

  .intro-text {
      margin-inline: auto;
      max-width: fit-content;
  }

  .container {
      flex-wrap: wrap;
      gap: 30px;
  }

  .box {
      border: 2px solid goldenrod;
      border-radius: 1rem;
      margin: 10px auto;
      max-width: 1000px;
  }

  .hero {
      width: 100vw;
      height: 100vh;
      margin: 2em 0;
      padding: 2em;
  }

  .box,
  .hero {
      background-color: #eee;
  }

  footer {
      padding: 5em;
  }

  @media (min-width: 800px) {
      header {
          justify-content: start;
      }
  }