* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

p {
  line-height: 175%;
}

#root,
input {
  text-align: center;
}

input {
  display: block;
  margin: 8px auto 30px auto;
  padding: 5px;
}

button {
  margin-top: 50px;
}